.header-setup {
    header {
    background-color: @headermain;
    color: @bgcolor;
    height: 9rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    nav {
        height: 3rem;
        width: 25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            color: @bgcolor;
            text-decoration: none;
            font-size: 2rem;
            font-family: Lato;
        }//a
    }//nav
}//header
}

// .header-setup {
//     background-color: @headerMain;
//     color: @bgcolor;
//     height: 9rem;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
  
//   nav {
//     height: 3rem;
//     width: 25rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
    
//     a {
//       color: @bgcolor;
//       text-decoration: none;
//       font-size: 2rem;
//       font-family: Lato; 
//     }
//   }
// }