

.header-setup() {
    background-color: @headermain;
    color: @bgcolor;
    height: 5.625rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  nav {
    height: 3rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
      color: @bgcolor;
      text-decoration: none;
      font-size: 2rem;
      font-family: Lato; 
    }
  }
}

.cta {
    width: 17.5rem;
    height: 4.125rem;
    border-radius: 1rem;
    background: @headermain;
    justify-content: center;
    font-size: 1.8rem;
    color: @bgcolor;
    border: none;
  }
  