header {
    .header-setup();
    h1 {
        margin-top: 1%;
    }
    nav {
        @media @phone {
            width: 100%;
            // justify-content: space-evenly;
        }
    }
    
};

footer {
    .header-setup();
    height: 10rem;
    nav {
        padding-bottom: 1.5%;
    }
    copyright {
        padding-bottom: 1.5%;

    }
}

